# Terraform State (Local)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform directories
.terraform/

# .terraform.lock.hcl is intentionally NOT ignored
# intentionally NOT ignored for this bootstrap project. See README for explanation
!*.tfvars  

# Logs
*.log

# macOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
